<form action='{% url 'pollapp:vote' question.id %}' method="POST">
    {% csrf_token %} 
    {# this code above is a django specific tag that prevents Cross Site Request Forgeries! all POST forms need this. #}
    <fieldset>
        <legend><h1> {{question.question_text}} </h1></legend>
        {% if error_message %} <p><strong> {{error_message}} </strong></p> {% endif %}
        {% for choice in question.choice_set.all %}
            <input type='radio' name='choice' id='choice {{ forloop.counter }} ' value='{{choice.id}}'>
            <label for='choice{{forloop.counter}}'> {{choice.choice_text}} </label><br>
        {% endfor %}
    </fieldset>
    <input type='submit' value="Vote">
</form>